.mj_icon {
  /* display: flex; */
  margin: 10px auto;
  max-height: 450px;
}

.trophyContainer {
  /* background: red; */
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  /* max-width: 250px; */
}

/* 
.tooltiptext {
  visibility: hidden;
  background: rgb(214, 115, 115);
  position: absolute;
  left: 18%;
  margin-left: -60px;
  border-radius: 5%;
  padding: 5px;
  z-index: 1;
} */

.championship:hover,
.tooltiptext {
  visibility: visible;
}

.championship {
  max-width: 140px;
  margin: auto;
}

.all-star,
.finals-mvp,
.dpoy,
.mvp {
  max-width: 110px;
  margin: auto;
}

.all-star:hover,
.championship:hover,
.dpoy:hover,
.finals-mvp:hover,
.mvp:hover {
  transform: scale(1.3);
}

.figures {
  background: gray;
  /* border: 2px solid black; */
  /* margin: 150px; */
  max-width: 100%;
  margin: 10px 150px;
}

body {
  background: #e5e7e9;
  font-family: Roboto Condensed, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.6em;
  margin: 0;
}

.champContainer {
  height: auto;
  max-width: 100%;
  /* margin: auto; */
  border: 2px solid black;
  border-radius: 3%;
}

.container {
  padding: 10px;
}

#fixed {
  position: fixed;
  bottom: 0;
  right: 50px;
  padding: 5px;
}

.flexbox-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
  width: 90%;
}

.flexbox-item {
  background: rgb(214, 115, 115);
  border-radius: 50%;
  display: flex;
  margin: 10px auto;
  min-height: 250px;
  padding: 10px;
  width: 40%;
}

.homeBanner {
  background-position: center;
  height: auto;
  margin: 10px auto;
  max-width: 50%;
}

.hyperlink {
  background: green;
  font-size: 1.17em;
  height: 40px;
  color: black;
  text-decoration: none;
  width: auto;
}

.hyperlink:hover {
  color: red;
}

#mainBanner {
  /* background: gray; */
  margin: 15px auto;
  text-align: center;
  width: 80%;
}

#mainBanner h1 {
  color: red;
  font-size: 45px;
  margin: auto;
  padding: 15px;
}

#mainFooter {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 23%;
}

#mainHeader {
  background: #333;
  color: white;
  text-align: center;
}

#mainNav {
  background: #ccc;
  top: 0;
}

#mainNav ul {
  padding: 0;
  margin: 5px;
  list-style-type: none;
  text-align: center;
}

#mainNav li {
  display: inline;
  padding: 5px 10px;
}

#mainNav a {
  color: black;
  text-decoration: none;
  font-size: 23px;
  /* margin: auto; */
  padding: 10px;
  /* background: blue; */
}

/* #mainNav li:hover {
  background: #aaa;
} */

#mainNav a:hover {
  color: red;
}

.navContainer {
  margin: auto;
  overflow: hidden;
  background: #616163;
}

/* #main {
  float: right;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
} */

/* @media only screen and (min-width: 420px) {
  #jumbo {
    height: 350px;
    width: 85%;
    padding: 5px;
  }
} */

@media only screen and (orientation: portrait) {
  .bannerContainer {
    height: 1000px;
    margin: 5px auto;
    max-width: 90%;
  }

  #mainBanner {
    background-image: url("../images/mobile_home.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    margin: 5px auto;
    padding: 9px;
    max-width: 85%;
  }

  #mainBanner h1 {
    margin: auto;
    /* padding: 15px; */
    padding-top: 295%;
  }
}

@media only screen and (max-width: 420px) {
  .flexbox-item {
    flex-wrap: nowrap;
    width: 80%;
  }

  .flexbox-container {
    flex-direction: column;
  }

  .homeBanner {
    display: none;
  }
}
